.tileContainer{
  margin: auto;
  z-index: 1;
  background-color: rgb(115, 163, 224);
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  display: grid;
  height: 360px;
  width: 810px;
}

.tile{
  background-color: rgb(204, 202, 200);
  height: 90px;
  width: 90px;
}

.menu{
  position: absolute;
  margin: auto;
  z-index: 2;
  background-color: rgb(118, 238, 238);
  height: 180px;
  width: 450px;
  border-radius: 5px;
  opacity: 0.8;
}

/* #character{
  background-image: ;
} */