.tileContainer{
  margin: auto;
  z-index: 1;
  background-color: rgb(115, 163, 224);
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  display: grid;
  height: 240px;
  width: 600px;
}

.tile{
  background-color: burlywood;
  height: 60px;
  width: 60px;
  border-radius: 5px;
}

.menu{
  position: absolute;
  margin: auto;
  z-index: 2;
  background-color: azure;
  height: 240px;
  width: 600px;
  border-radius: 5px;
  opacity: 0.8;
}