/* keyboard Styles */
.push{
  height: 50px;
  width: 810px;
  padding-top: 10px;
  background-color: rgb(20, 20, 20);
  border-radius: 8px;;
}

.keyboard{
  background-color: #000000;
  margin: auto;
  position: relative;
  width: 810px;
  height: 400px;
  border-radius: 3px;
}

.KeyController{
  margin: auto;
  position: relative;
  background-color: #283593;
  width: 810px;
  height: 200px;
  border-radius: 3px
}

.recordB{
  position: absolute;
  background-color: rgb(146, 7, 7);
  height: 80px;
  width: 80px;
  border-radius: 40px;
  top: 40px;
  left: 40px;
}

.recordB:hover{
  background-color: rgb(187, 9, 9);
}

.recordB:active{
  background-color: rgb(238, 14, 14);
}

.stopRecord{
  position: absolute;
  background-color: rgb(2, 2, 2);
  height: 80px;
  width: 80px;
  top: 40px;
  left: 200px;
}

.stopRecord:hover{
  background-color: rgb(43, 42, 42);
}

.stopRecord:active{
  background-color: rgb(100, 100, 100);
}

.playback{
  position: absolute;
  background-color: rgb(172, 167, 167);
  height: 80px;
  width: 120px;
  border-radius: 40px;
  top: 40px;
  left: 400px;
}

.playback:hover{
  background-color: rgb(214, 208, 208);
}

.playback:active{
  background-color: rgb(14, 216, 81); 
}

.c{
  background-color: #e7e9e7;
  z-index: 1;
  position: absolute;
  float: left;
  width: 100px;
  height: 380px;
  padding: 5px;
  border-radius: 5px;
  bottom: 5px;
  left: 5px;
}

.c:hover{
  background-color: #b8bdbe;
}

.c:active{
  background-color: aqua;
}


.cSharp{
  background-color: #080808;
  z-index: 2;
  float: left;
  position: absolute;
  width: 70px;
  height: 210px;
  left: 80px;
  top: 5px;
  border-radius: 5px;
}

.cSharp:hover{
  background-color: #353434;
}

.cSharp:active{
  background-color: aqua;
}

.d{
  background-color: #e7e9e7;
  position: absolute;
  z-index: 1;
  float: left;
  width: 100px;
  height: 380px;
  padding: 5px;
  border-radius: 5px;
  bottom: 5px;
  left: 120px;
}

.d:hover{
  background-color: #b8bdbe;
}

.d:active{
  background-color: aqua;
}


.dSharp{
  background-color: #080808;
  z-index: 2;
  float: left;
  position: absolute;
  width: 70px;
  height: 210px;
  left: 200px;
  top: 5px;
  border-radius: 5px;
}

.dSharp:hover{
  background-color: #353434;
}

.dSharp:active{
  background-color: aqua;
}

.e{
  background-color: #e7e9e7;
  position: absolute;
  float: left;
  width: 100px;
  height: 380px;
  padding: 5px;
  border-radius: 5px;
  bottom: 5px;
  left: 235px;
}

.e:hover{
  background-color: #b8bdbe;
}

.e:active{
  background-color: #283593;
}


.f{
  background-color: #e7e9e7;
  position: absolute;
  float: left;
  width: 100px;
  height: 380px;
  padding: 5px;
  border-radius: 5px;
  bottom: 5px;
  left: 350px;
}

.f:hover{
  background-color: #b8bdbe;
}

.f:active{
  background-color: aqua;
}


.fSharp{
  background-color: #080808;
  z-index: 2;
  float: left;
  position: absolute;
  width: 70px;
  height: 210px;
  left: 430px;
  top: 5px;
  border-radius: 5px;
}

.fSharp:hover{
  background-color: #353434;
}

.fSharp:active{
  background-color: aqua;
}

.g{
  background-color: #e7e9e7;
  position: absolute;
  float: left;
  width: 100px;
  height: 380px;
  padding: 5px;
  border-radius: 5px;
  bottom: 5px;
  left: 465px;
}

.g:hover{
  background-color: #b8bdbe;
}

.g:active{
  background-color: aqua;
}


.gSharp{
  background-color: #080808;
  z-index: 2;
  float: left;
  position: absolute;
  width: 70px;
  height: 210px;
  left: 545px;
  top: 5px;
  border-radius: 5px;
}

.gSharp:hover{
  background-color: #353434;
}

.gSharp:active{
  background-color: aqua;
}

.a{
  background-color: #e7e9e7;
  position: absolute;
  float: left;
  width: 100px;
  height: 380px;
  padding: 5px;
  border-radius: 5px;
  bottom: 5px;
  left: 580px;
}

.a:hover{
  background-color: #b8bdbe;
}

.a:active{
  background-color: aqua;
}


.aSharp{
  background-color: #080808;
  z-index: 2;
  float: left;
  position: absolute;
  width: 70px;
  height: 210px;
  left: 660px;
  top: 5px;
  border-radius: 5px;
}

.aSharp:hover{
  background-color: #353434;
}

.aSharp:active{
  background-color: aqua;
}

.b{
  background-color: #e7e9e7;
  position: absolute;
  float: left;
  width: 100px;
  height: 380px;
  padding: 5px;
  border-radius: 5px;
  bottom: 5px;
  left: 695px;
}

.b:hover{
  background-color: #b8bdbe;
}

.b:active{
  background-color: aqua;
}

